@import url('https://fonts.googleapis.com/css2?family=Yatra+One&family=Karla:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

}


body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
}

/* Dark theme styles */
.dark {
  color-scheme: dark;
}



/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}